.form-container
{
  padding: 32px;
  flex-grow: 1;
}


.heading
{
    text-align: center;
}


.input-element
{
    width: 100%;
    padding:8px;
    margin-top: 16px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.btn
{
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: orange;
    color: white;
    font-weight: 600;
    margin-top: 64px;
    cursor: pointer;
}