.home-container
{
    background-image: url("../assets/images/home-hero.png");
    padding: 32px;
    color: white;
    box-sizing: border-box;

}

.home-container a{

  text-decoration: none;
  display: block;
  width: auto;

  padding: 16px 0px;
  background-color: #fb8500;
  color: white;
  font-weight: 700;
  box-sizing: border-box;

  font-size: 1.2rem;
  text-align: center;
  border-radius: 8px;
  margin-top: 48px;
  margin-bottom: 48px;
}


.home-container p{

    line-height: 1.5;
    font-size: 1.2rem;
}

.home-container h1
{
    font-size: 3rem;
}

