.host-nav
{
    display: flex;
    gap: 16px;
}

a 
{
  text-decoration: none;
}

.active-link
{
   color: #22223b;
   text-decoration: underline;
 
}

.inactive-link
{
  color: #4a4e69;

}

.host-van-container-wrapper
{

  flex-grow: 1;
  display: flex;
  flex-direction: column;

}